@mixin border-radius($radius) {
   border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin transition($what: all, $time: 0.3s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}