.landingPage{
	.logoBar{
		background-color:$beige;
		border-bottom:1px solid $grey3;
		text-align:center;
		padding:.45em;
		img{}
	}
	.nav_progress{
		position:fixed;
		right:5px;
		top:35%;
	}
	margin:0;
	
	// Control the headline type color
	.bg_teal, .bg_red1{color:$white;}
	header{
		color:#fff;
		text-shadow:
			1px 1px 0 rgba(43,43,43,0.3),  
			1px 1px 0 rgba(43,43,43,0.3),
			1px 1px 0 rgba(43,43,43,0.3),
			1px 1px 0 rgba(43,43,43,0.3);
	}
	
	// Control section global layout
	section, header{
		background-size:cover;
		background-position:center top;
		@include spacing(60px);
		padding-left:40px;
		padding-right:40px;
		min-height:375px;
		position:relative;
	}
	header .headline, header .subheadline{text-align:center;}
	section .headline, section .subheadline{text-align:center;}
	section .headline h1, section .headline h2{margin: 0 0 0.125em 0;}
   
	.content{
		@include spacing(35px);
		@include content_width(1200px);
		.content_block{
			float:left;
			width:50%;
			padding:0 10px;
	      box-sizing:border-box;
		}
	}
	.content_50{
	   max-width:50%;
	   margin-left:auto;
	   margin-right:auto;
	}
	.icon{text-decoration:none;color:$white;}
	.content i{font-size:32px;color:$white;padding:0 4px 0 0;}
	.form{
		@include spacing(40px);
		.input_options{clear:both;margin-top:1em;margin-bottom:.5em;border-top:1px dotted $grey4;}
	}
	
	#how .form{padding:0;}
	.how_nav{text-align:center;}
	.how_item{margin:0 20px;}
	.how_item img{width:100%;margin-bottom:12px;}
	#how_maker{
		@include spacing(60px);
		.how_item{width:20%;float:left;text-align:center;}
	}
	#how_shopper{
		@include spacing(60px);
		.how_item{width:29%;float:left;text-align:center;}
	}
	
	#selling .content_block{text-align:center;}
	#selling .content_block img{width:45%;margin-bottom:20px;}
	
	.wooster{
		width:50px;
		margin-left:auto;
		margin-right:auto;
		left:0;
		right:0;
		position:absolute;
		bottom:20px;
		img{width:50px;}
	}
}

@media screen and (max-width: 480px) {
	.landingPage{
		.logoBar{
			img{height:55px;}
		}
		section, header{
			@include spacing(30px);
			padding-left:12px;
			padding-right:12px;
			min-height:568px;
		}
		section .headline, section .subheadline, header .headline, header .subheadline{text-align:left;width:75%;}
		.content{
			@include spacing(12px);
			@include content_width(100%);
			.content_block{
				clear:both;
				width:100%;
			}
			.content_block:nth-child(2){
				margin-top:20px;
			}
		}
		.how_item{margin:0 10px;}
		#how_maker{
			@include spacing(32px);
			.how_item{width:42%;float:left;text-align:center;}
		}
		#how_shopper{
			@include spacing(32px);
			.how_item{width:42%;float:left;text-align:center;}
		}
		.how_item img{width:120px;height:71px;}
		
		#selling .content{@include spacing(40px);}
	}
}

